<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <aside>
            <div class="top">
                <img src="images/instagram.png" class="ce">
            </div>
            <div class="middle">
                <div class="one">
                    <i class="fa-solid fa-house-chimney"></i>
                    Home
                </div>
                <div class="one">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search
                </div>
                <div class="one">
                    <i class="fa-regular fa-compass"></i>
                    Explore
                </div>
                <div class="one">
                    <img src="images/clapperboard.png" class="board">
                    Reels
                </div>
                <div class="one">
                    <i class="fa-brands fa-facebook-messenger"></i>
                    Messages
                </div>
                <div class="one">
                    <i class="fa-solid fa-heart"></i>
                    Notifications
                </div>
                <div class="one">
                    <i class="fa-regular fa-square-plus"></i>
                    Create
                </div>
                <div class="one">
                    <img src="images/profile-circle.svg" class="pro">
                    Profile
                </div>
            </div>
            <div class=" middle footer">
                <div>
                    <i class="fa-brands fa-threads"></i>
                    Threads
                </div>
                <div>
                    <i class="fa-solid fa-bars"></i>
                    More
                </div>
            </div>
        </aside>
        <div class="line"></div>
        <div class="right">

            <header>
                <div class="left">

                    <img src="images/profile-circle.svg" class="shiva">
                </div>
                <div class=" right">
                    <div class="name">
                        <p><%=user.username%></p>
                        <button class="mssg">Edit profile</button>
                        <button class="mssg">view archive</button>
                        <Span class="stn"><i class="fa-solid fa-gear stn1"></i></Span>
                    </div>
                    <div class="det">
                        <p><%=user.posts%> posts</p>
                        <p><%=user.followers%> followers</p>
                        <p><%=user.following%> following</p>
                    </div>
                    <div class="all">
                        <p class="vani"><%=user.username%></p>
                            <br>
                        <span class="followed">Followed by</span> <span class="ys"><%=user.followed_by%></span><span class="followed"> +3 more</span>
                    </div>
                </div>
            </header>
            <middle>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </middle>
            <hr class="limit">
            <bottom>
                <div class="post">
                    <div>POSTS</div>
                    <div>REELS</div>
                    <div>TAGGED</div>
                </div>
                <div class="posts1">
                    
                </div>
            </bottom>
        </div>
    </div>
</body>

</html>